numpy==1.18.3
django_rest_knox==4.1.0
flake8==3.8.3
pipreqs==0.4.10
cryptography==3.0
bpython==0.19
brotli==1.0.9
click==7.1.2
contextvars==2.4
cx_Oracle==8.0.1
Cython==0.29.21
docutils==0.16
importlib_metadata==1.7.0
ipaddr==2.2.0
ipdb==0.13.3
ipython==7.18.1
keyring==21.4.0
knox==0.1.0
lockfile==0.12.2
lxml==4.5.2
mypy_extensions==0.4.3
ordereddict==1.1
Pillow==7.2.0
pip_api==0.0.14
protobuf==3.13.0
psycopg2==2.8.5
pyenchant==3.1.1
pylama==7.7.1
pylibmc==1.6.1
pyOpenSSL==19.1.0
pytest==6.0.1
python_memcached==1.59
pywatchman==1.4.1
PyYAML==5.3.1
requirementslib==1.5.13
secrets==1.0.2
tblib==1.7.0
typed_ast==1.4.1
typing_extensions==3.7.4.3
wincertstore==0.2
zipp==3.1.0
