{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Cook Simple">
        <title>Cook Simple</title>
        
        <link rel="apple-touch-icon" href="{% static 'images/icons/apple-touch-icon.png' %}">
        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="grid-container">
            <header>
                {% if user.is_authenticated %}
                    <nav>
                        <a class="add_btn" href="{% url 'recipe:recipe_new' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a class="logout_btn" href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-lock"></span>
                        </a>
                    </nav>
                {% endif %}
                <h1><a class="topheader" href="/">Cook Simple</a></h1>
                <!-- Search bar -->
                {% if user.is_authenticated %}
                <div class="search-bar">
                    <input id="recipe-search-input" type="search" placeholder="Search.." onkeydown="search_recipe()" onclick="search_recipe()">
                </div>
                {% endif %}
            </header>
            
            <div>
                {% block registration %}
                {% endblock registration %}
            </div>

            {% if user.is_authenticated %}
            <aside class="title" id="recipes-container">
                {% block content %}
                {% endblock %}
            </aside>
            <section id="recipe-ingredients">
                <h1>Ingredients</h1>
                <p id="recipe-ingredients-text" style="opacity: 0.6; white-space: pre-line;">Cook</p>
            </section>
            <section id="recipe-directions">
                <h1>Directions</h1>
                <p id="recipe-directions-text" style="opacity: 0.6; white-space: pre-line;">Simple</p>
            </section>
            {% endif %}
        </div>

        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/react/react.production.min.js' %}"></script>
    </body>
</html>