{% extends 'userprofile/base.html' %}

{% block content %}
    {% for recipe in recipes %}

        <div class="title-item" onclick="show_recipe(this)"> <!-- Shows the recipe title and time -->

            <article>
                <span class="recipe-title">{{ recipe.title }}</span>
                <p class="recipe-cooktime">{{ recipe.cooktime }}</p>

                <ul>
                    <li><span class="glyphicon glyphicon-option-vertical three-vertical-dots"></span>
                        <ul class="recipe-pulldown">
                            <li><a href="{% url 'recipe:recipe_edit' pk=recipe.pk %}">Edit</a></li>
                            <li><a onclick="return confirm('Are you sure you want to delete this recipe?');" href="{% url 'recipe:recipe_remove' pk=recipe.pk %}">Remove</a></li>
                        </ul>
                    </li>
                </ul>
            </article>
        
        <!-- Hidden elements (ingredients and directions) to be accessed by Javascript -->
            <textarea id="recipe-ingredients" class="hidden">
                {{ recipe.ingredients }}
            </textarea>

            <textarea id="recipe-directions" class="hidden">
                {{ recipe.directions }}
            </textarea>
        </div>
        

    {% endfor %}
{% endblock %}

